<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav">
    <div class="logout"><a href="">Logout</a></div>
    <a href="#home" routerLink="./home">Home</a>
    <!-- <a href="" >Add Employee</a> -->
    <a href="#asset-details" routerLink="./assets">Asset details</a> 
    <a href="#user-map" routerLink="./userMap">Asset Mapping</a> 
    <a href="#assetType" routerLink="./asset/assetType">Add Asset type</a> 
    <!-- <a href="#contact-form" routerLink="./contact-form">Employees Details</a>  -->
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>