.asset
{
    width:100%;
    margin-top: 2em;
    padding:2em;
    border: 0.5px solid grey;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

label
{
    width:40%;
    padding:1px;

}

input
{
    width: 12.5em;
    padding:2px;
}

button
{
    height: 35px;
    width: 9%;
    border-radius: 2px;
    border: 1px solid grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: inherit;   
}

button:active
{
    border-color: rgb(15, 111, 207);
    box-shadow: 0px 2px 2px solid rgb(15, 111, 207);
}

table 
{
    margin-top: 2em;
    border-collapse: collapse;
    margin: 25px 0;
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.15);
    width:100%;
}

.table thead tr {
    background-color :rgb(15, 111, 207);
    color: #ffffff;
    text-align: left;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tr:hover {
    background-color :rgb(226, 216, 216);
}

/* .table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
} */

/* .table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
} */

button
{
    height:35px;
    width:7em;
    border: 0.5px solid grey;
    border-radius: 2px;
    font-size: medium;
}
button:active
{
    border-color: rgb(15, 111, 207);
    box-shadow: 0px 2px 2px solid rgb(15, 111, 207);
}
select
{
    width:12.5em;
    height:30px;
}

.row
{
    margin-top: 1em;
}
