.content
{
    margin-top: 2em;
    border:0.5px solid gray;
    height:auto;
    font-size: 15px;
    border-radius: 4px;
    
}

#head
{
    font-weight: bold;
    padding: 8px;
}
label
{
    font-weight: unset;
    padding:8px;
}

.rightdiv
{
    padding : 3%;
    width:60%;
    float: right; 
    height:600px; 
    font-size: 16px;
         
}
.leftdiv
{
    margin-top: 2em;
    padding : 1%;
    width:40%;
    float: left;  
    height:auto;
    border:0.5px solid navy;
    border-radius: 5px;
    background-color: azure;
    box-shadow: 0px 5px 10px;
    font-size: 15px;
    
}

button
{
    margin: 1em;
    width:60px;
    height:35px;
    font-size: medium;
    padding: 1px;   
}