
<div class="leftdiv" *ngIf="user_detail">
    <h2>User Details</h2><br/>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <label><b>User Id</b></label>&nbsp;&nbsp;
            </div>
            <div class="col-md-8">
                <label>{{user_detail.userId}}</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <label><b>Username</b></label>&nbsp;&nbsp;
            </div>
            <div class="col-md-8">
                <label>{{user_detail.email}}</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <label><b>Designation</b></label>&nbsp;
            </div>
            <div class="col-md-8">
                <label>{{user_detail.designation}}</label>
            </div>
        </div>
    </div>  
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <label><b>Email</b></label>&nbsp;&nbsp;
            </div>
            <div class="col-md-8">
                <label>{{user_detail.email}}</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <label><b>Contact</b></label>&nbsp;&nbsp;
            </div>
            <div class="col-md-8">
                <label>{{user_detail.contact_number}}</label>
            </div>
        </div>
    </div>  
 </div>
 <div class="rightdiv">
    <h2>Asset Details</h2>
    <div class="content" *ngFor="let index of value , let i=index">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <label id="head">Asset_Id</label>
                </div>
                <div class="col-md-6">
                    <label id>{{value[i].id}}</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <label id="head">Brand</label>
                </div>
                <div class="col-md-6">
                    <label>{{value[i].make}}</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <label id="head">Model Number</label>
                </div>
                <div class="col-md-6">
                    <label>{{value[i].model_no}}</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <label id="head">Product Number</label>
                </div>
                <div class="col-md-6">
                    <label>{{value[i].product_number}}</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <label id="head">Product Type</label>
                </div>
                <div class="col-md-6">
                    <label>{{value[i].product_type.name}}</label>
                </div>
            </div>
            <div class="col-md-12">
                <div align="center">
                    <button class="btn btn-primary" type="submit" id="article-update-button" (click)="onClick(value[i].id)" style="width:100px">View Details</button>
                </div>
            </div>
                        
        </div>
    </div>