
label
{
    width:40%;
    padding:1px;
    
}

input
{
    width: 12.5em;
    padding:2px;
}


button
{
    height:35px;
    width:7em;
    border: 0.5px solid grey;
    border-radius: 2px;
    font-size: medium;
}
select
{
    width:12.5em;
    height:30px;
}

.col-md-12
{
    margin-top:1em;
    padding:2px;
}
.row
{
    margin-top: 1em;
    
}
button
{
    height:35px;
    width:90px;
    border-radius: 2px;
}


.input-group-text
{
    font-size: medium;
    font-weight: unset;
}
.form-control
{
    font-size: medium;
}

